
@font-face { font-family: OpenSans; src: url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700); }
@font-face { font-family: Arvo; src: url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic); }

:root {
    --main-site-color: #e8e3e3;
}

body{
    background-color: var(--main-site-color);
    font-family: Arvo, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#main{
    padding: 0;
    margin: 0;
    border-bottom:solid black 10px
}

h3 {
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 0;
    text-transform: none;
}
.navbar-brand{
    margin: 1%;
    transition:2s ease-in-out;
}

.navbar-brand:hover{
    transform: rotateY(180deg);
}

#main-style{
    margin: 0;
    padding: 0;
}

#textAnim{
    position: absolute;
    font-size: 3vw;
    color: white;
    top:30%;
    left: 40%;
    text-align: justify;
    animation-name: textAnim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes textAnim {
    0%{left: -1000px;}
    100%{left: 40%;}
}

#textSubAnim{
    position: absolute;
    font-size: 1.5vw;
    color: white;
    top:40%;
    left: 41%;
    opacity: 0;
    animation-name: textSubAnim;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes textSubAnim {
   0%{opacity: 0;}
    100%{opacity: 1;}
}

#aboutmeContainer {
    position: relative;
    height: 700px;
    background-color: lightgray
}

#aboutme{
    margin: 0;
    height: 100px;
}

#img{
    margin: 5%;
    height: 300px;
}

#aboutmeText{
    margin: 5%;
    padding: 5%;
}

#contact{
    margin: 0;
}

.paragraf{
    padding: 10px;
    font-size: 2em;
    text-align: center;

}

#tech-container{
    height: 500px;
}

.gallery-img{
    width: 100px;
    height: 100px;
    margin: 10%;
}

.overlay{
    padding: 10%;
    margin-left: 25%;
    margin-bottom: 25%;
    position: relative;
}

.overlay .text1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 90%;
    left: 0;
    color: snow;
    opacity: 0;
    transition: 2s ease-in-out;
}

.overlay:hover .text1{
    opacity: 1;
    color: #bd2130;
}

.link{
    color: #4e555b;
}
.link:hover{
    color: #1d2124;
    text-decoration: none;
}
.img-fluid{
    width: 100px;
}

#social-media-container{
    background-color: lightgray;
    height: 400px;
}

#social-media .social-media-el ul li {
    position: absolute;
    display: block;
}

#social-media .social-media-el ul li:hover:before {
    content: attr(data-tooltip0);
    width: 30px;
    height: 30px;
    margin-left: 40px;
    white-space: pre;
    padding: 15px;
    color: black;
    font-weight: bold;
    font-size: 1vw;
    position: absolute;
    top: 90%;
    right: 40%;
}

footer{
    text-align: center;
    background-color: #4e555b;
}

