@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);

:root {
    --main-site-color: #e8e3e3;
}

body{
    background-color: var(--main-site-color);
    font-family: "Arvo", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}


h3 {
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 0;
    text-transform: none;
}
.navbar-brand{
    margin: 1%;
    transition:2s ease-in-out;
}

.navbar-brand:hover{
    transform: rotateY(180deg);
}


#text{
    position: absolute;
    color: white;
    top:30%;
    left: 40%;
    text-align: justify;
    animation-name: textAnim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes textAnim {
    0%{left: -1000px;}
    100%{left: 40%;}
}

#aboutme{
    margin: 0;
}

#img{
    height: 300px;
    border-radius: 250px;
}

#contact{
    margin: 0;
}

.paragraf{
    padding: 10px;
    font-size: 2em;
    text-align: center;
    border-style: solid;
    border-color: var(--main-site-color);
    background-color: whitesmoke;
    transition: 2s ease-in-out;

}

.paragraf:hover{
    background-color: #bd2130;
}

.gallery-img{
    width: 100px;
    height: 100px;
    margin: 5%;
}

.overlay{
    margin-left: 25%;
    margin-bottom: 25%;
    position: relative;
}

.overlay .text1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 70%;
    left: 0;
    color: snow;
    opacity: 0;
    transition: 2s ease-in-out;
}

.overlay:hover .text1{
    opacity: 1;
    color: #bd2130;
}

.link{
    color: #4e555b;
}
.link:hover{
    color: #1d2124;
    text-decoration: none;
}
.img-fluid{
    width: 100px;
}


#social-media .social-media-el ul li {
    position: absolute;
    display: block;
}

#social-media .social-media-el ul li:hover:before {
    content: attr(data-tooltip0);
    width: 100px;
    white-space: pre;
    height: 100px;
    padding: 15px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 90%;
    top: 20%;
}

footer{
    text-align: center;
    background-color: #4e555b;
}

